.section1{
    .left, .right{
        width: 50%;
    }
    .right{
        
    }
    .hero-body-text{
        margin-bottom: 30px;
        font-size: 22px;
        color: #66645E;
    }
    .hero-text{
        font-size: 60px;
        margin-bottom: 30px;
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-img{
        width: 100%;
    }
    .contact-btn{
        width: fit-content;
        background-color: #71A894;
        color: white;
        border: none;
        font-size: 17px;
        border-radius: 6px;
        padding: 18px;
    }
}
.align1{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 20%;
    
}
.sec2{
    margin-top: 80px;
    margin-bottom: 80px;
    .tile{
        width: 32.3%;
        text-align: center;
        box-shadow: 0px 2px 8px rgb(117, 117, 117);
       
    }
    .align{
        display: flex;
        flex-direction: column;
    }
    .top-div{
        text-align: center;

        .head{
            font-size: 40px;
           
        }
        .text{
            padding: 40px;
        }
    }
    .bottom-div{
        display: flex;
        justify-content: space-between;
    }
}
.sec3{
    .left, .right{
        width: 40%;
        text-align: left;
        justify-content: left;

    }
    .head{
        font-size: 40px;
    }
    .right{
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        .m1{
            max-width: 100px;
            margin-left: 220px;
            justify-content: right;
        
        }  
        .n1, .n2{
            display: flex;
            flex-direction: row;
        }
    }
}
.sec4{
    .profile-details{
        display: flex;
    flex-direction: row;
    }
    .left{
        width: 30%;
    }
    .txt{
        padding-left: 5px;
    }
    .l{
        display: flex;
    }
    .vote-btn{
        width: fit-content;
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px 30px 40px;
        
    
    }
   
}
    
